.container {
  float: left;
  background-color:rgba(11, 128, 112, 0.897);
  height: 1000px;
  width: 40%;
  padding-top: 10%;
}

.container2 {
  display: inline-block;
  background-color:white;
  height: 1000px;
  width: 60%;
  padding-top: 10%;
}

.regi{
  text-align: center;
  color:rgba(11, 128, 112, 0.897);
}

.con1 {
  padding-left: 30%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: larger;
}
label {
  width: 400px;
  font-size: larger;
}

p{
   text-align: center;  
}
button{
  font-size: large;
   margin-left:10%;
   margin-top: 10%;
   border-radius: 12px;
   width: 250px;
   height:60px;

}


.login{
  text-align: center;
  color:white;
}

.form-control{
  width: 50%;
  border-radius: 2px;
  
}